# Analysing English Premier League 2018-19 statistics

From the given dataset, I will be analysing the statistics for the players for all the clubs in the Premier League based on their position and train a model to predict their ranks for the next seasons based on those statistics.

### Cleaning the dataset and separating into positions

In [2]:
import pandas as pd
df = pd.read_csv('plstats.csv')
df.head()

,full_name,age,birthday,league,season,position,Current Club,minutes_played_overall,minutes_played_home,minutes_played_away,...,conceded_per_90_overall,min_per_conceded_overall,min_per_match,min_per_card_overall,min_per_assist_overall,cards_per_90_overall,rank_in_league_top_attackers,rank_in_league_top_midfielders,rank_in_league_top_defenders,rank_in_club_top_scorer
0,David de Gea,29,657964800,Premier League,2018/2019,Goalkeeper,Manchester United,3420,1710,1710,...,1.34,67,90,3420,0,0.03,310,419,90,18
1,Matteo Darmian,30,628588800,Premier League,2018/2019,Defender,Manchester United,443,353,90,...,1.42,63,74,0,0,0.00,411,366,102,25
2,Victor Nilsson Lindelöf,25,774428400,Premier League,2018/2019,Defender,Manchester United,2602,1112,1490,...,1.31,68,87,2602,2602,0.03,263,249,88,14
3,Luke Shaw,24,805532400,Premier League,2018/2019,Defender,Manchester United,2592,1170,1422,...,1.25,72,89,236,648,0.38,262,104,79,13
4,Eric Bertrand Bailly,26,766134000,Premier League,2018/2019,Defender,Manchester United,637,349,288,...,1.70,53,53,319,0,0.28,340,271,142,26

In [3]:
df.columns

Index(['full_name', 'age', 'birthday', 'league', 'season', 'position',
       'Current Club', 'minutes_played_overall', 'minutes_played_home',
       'minutes_played_away', 'nationality', 'appearances_overall',
       'appearances_home', 'appearances_away', 'goals_overall', 'goals_home',
       'goals_away', 'assists_overall', 'assists_home', 'assists_away',
       'penalty_goals', 'penalty_misses', 'clean_sheets_overall',
       'clean_sheets_home', 'clean_sheets_away', 'conceded_overall',
       'conceded_home', 'conceded_away', 'yellow_cards_overall',
       'red_cards_overall', 'goals_involved_per_90_overall',
       'assists_per_90_overall', 'goals_per_90_overall', 'goals_per_90_home',
       'goals_per_90_away', 'min_per_goal_overall', 'conceded_per_90_overall',
       'min_per_conceded_overall', 'min_per_match', 'min_per_card_overall',
       'min_per_assist_overall', 'cards_per_90_overall',
       'rank_in_league_top_attackers', 'rank_in_league_top_midfielders',
       'rank_in_league_top_defenders', 'rank_in_club_top_scorer'],
      dtype='object')

In [4]:
df.position.value_counts()

Midfielder    212
Defender      189
Forward       114
Goalkeeper     57
Name: position, dtype: int64

In [5]:
df_goal = df[df.position == 'Goalkeeper']
df_goal.shape

(57, 46)

In [6]:
df_def = df[df.position == 'Defender']
df_def.shape

(189, 46)

In [7]:
df_mid = df[df.position == 'Midfielder']
df_mid.shape

(212, 46)

In [8]:
df_for = df[df.position == 'Forward']
df_for.shape

(114, 46)

## Taking the attributes which matter the most for each position

In [9]:
df.columns

Index(['full_name', 'age', 'birthday', 'league', 'season', 'position',
       'Current Club', 'minutes_played_overall', 'minutes_played_home',
       'minutes_played_away', 'nationality', 'appearances_overall',
       'appearances_home', 'appearances_away', 'goals_overall', 'goals_home',
       'goals_away', 'assists_overall', 'assists_home', 'assists_away',
       'penalty_goals', 'penalty_misses', 'clean_sheets_overall',
       'clean_sheets_home', 'clean_sheets_away', 'conceded_overall',
       'conceded_home', 'conceded_away', 'yellow_cards_overall',
       'red_cards_overall', 'goals_involved_per_90_overall',
       'assists_per_90_overall', 'goals_per_90_overall', 'goals_per_90_home',
       'goals_per_90_away', 'min_per_goal_overall', 'conceded_per_90_overall',
       'min_per_conceded_overall', 'min_per_match', 'min_per_card_overall',
       'min_per_assist_overall', 'cards_per_90_overall',
       'rank_in_league_top_attackers', 'rank_in_league_top_midfielders',
       'rank_in_league_top_defenders', 'rank_in_club_top_scorer'],
      dtype='object')

#### 1. Goalkeepers:

In [10]:
df_goal = df_goal[['full_name', 'age', 'position', 'Current Club','minutes_played_overall','clean_sheets_overall','conceded_overall', 'yellow_cards_overall', 'red_cards_overall','min_per_conceded_overall','min_per_card_overall','rank_in_league_top_defenders']]
df_goal.head()

,full_name,age,position,Current Club,minutes_played_overall,clean_sheets_overall,conceded_overall,yellow_cards_overall,red_cards_overall,min_per_conceded_overall,min_per_card_overall,rank_in_league_top_defenders
0,David de Gea,29,Goalkeeper,Manchester United,3420,7,51,1,0,67,3420,90
16,Lee Grant,37,Goalkeeper,Manchester United,0,0,0,0,0,0,0,-1
18,Kasper Schmeichel,33,Goalkeeper,Leicester City,3420,10,43,3,0,80,1140,50
34,Danny Ward,26,Goalkeeper,Leicester City,0,0,0,0,0,0,0,-1
36,Martin Dúbravka,31,Goalkeeper,Newcastle United,3420,11,44,1,0,78,3420,58

In [11]:
df_goal = df_goal[df_goal.rank_in_league_top_defenders != -1]
df_goal = df_goal.reset_index()
df_goal.drop('index', axis=1, inplace=True)
df_goal.head()

,full_name,age,position,Current Club,minutes_played_overall,clean_sheets_overall,conceded_overall,yellow_cards_overall,red_cards_overall,min_per_conceded_overall,min_per_card_overall,rank_in_league_top_defenders
0,David de Gea,29,Goalkeeper,Manchester United,3420,7,51,1,0,67,3420,90
1,Kasper Schmeichel,33,Goalkeeper,Leicester City,3420,10,43,3,0,80,1140,50
2,Martin Dúbravka,31,Goalkeeper,Newcastle United,3420,11,44,1,0,78,3420,58
3,Hugo Lloris,33,Goalkeeper,Tottenham Hotspur,2970,12,30,0,0,99,0,21
4,Asmir Begović,32,Goalkeeper,AFC Bournemouth,2160,5,44,0,0,49,0,153

In [12]:
import numpy as np
df_goal = df_goal.sort_values('rank_in_league_top_defenders')
df_goal['rank_in_league_top_goalkeepers'] = np.arange(1,len(df_goal)+1)

In [13]:
df_goal = df_goal.reset_index()
df_goal.drop(['index','rank_in_league_top_defenders'], axis=1, inplace=True)
df_goal.head()

,full_name,age,position,Current Club,minutes_played_overall,clean_sheets_overall,conceded_overall,yellow_cards_overall,red_cards_overall,min_per_conceded_overall,min_per_card_overall,rank_in_league_top_goalkeepers
0,Alisson Becker,27,Goalkeeper,Liverpool,3420,21,19,1,0,180,3420,1
1,Ederson,26,Goalkeeper,Manchester City,3420,20,23,2,0,149,1710,2
2,Hugo Lloris,33,Goalkeeper,Tottenham Hotspur,2970,12,30,0,0,99,0,3
3,Kepa Arrizabalaga,25,Goalkeeper,Chelsea,3240,14,38,2,0,85,1620,4
4,Vicente Guaita,33,Goalkeeper,Crystal Palace,1755,7,21,2,0,84,878,5

In [14]:
X = df_goal[['age', 'minutes_played_overall','clean_sheets_overall','conceded_overall','yellow_cards_overall','red_cards_overall','min_per_conceded_overall','min_per_card_overall']]
y = df_goal['rank_in_league_top_goalkeepers']

In [15]:
from sklearn.linear_model import LinearRegression
reg_goal = LinearRegression()
reg_goal.fit(X, y)
y_hat = reg_goal.predict(X)

In [16]:
from sklearn.metrics import r2_score
print("The accuracy of the model for training data is %.2f percent" %(r2_score(y, y_hat)*100))

The accuracy of the model for training data is 88.90 percent

#### 2. Defenders:

In [17]:
df_def = df_def[['full_name', 'age', 'position', 'Current Club','minutes_played_overall','goals_overall','assists_overall','clean_sheets_overall','conceded_overall','goals_involved_per_90_overall','assists_per_90_overall','goals_per_90_overall','yellow_cards_overall', 'red_cards_overall','min_per_conceded_overall','min_per_card_overall','rank_in_league_top_defenders']]
df_def.head()

,full_name,age,position,Current Club,minutes_played_overall,goals_overall,assists_overall,clean_sheets_overall,conceded_overall,goals_involved_per_90_overall,assists_per_90_overall,goals_per_90_overall,yellow_cards_overall,red_cards_overall,min_per_conceded_overall,min_per_card_overall,rank_in_league_top_defenders
1,Matteo Darmian,30,Defender,Manchester United,443,0,0,1,7,0.00,0.00,0.00,0,0,63,0,102
2,Victor Nilsson Lindelöf,25,Defender,Manchester United,2602,1,1,6,38,0.07,0.03,0.03,1,0,68,2602,88
3,Luke Shaw,24,Defender,Manchester United,2592,1,4,6,36,0.17,0.14,0.03,11,0,72,236,79
4,Eric Bertrand Bailly,26,Defender,Manchester United,637,0,0,3,12,0.00,0.00,0.00,1,1,53,319,142
15,Chris Smalling,30,Defender,Manchester United,2128,1,0,4,34,0.04,0.00,0.04,1,0,63,2128,109

In [18]:
df_def = df_def[df_def.rank_in_league_top_defenders != -1]
df_def = df_def.reset_index()
df_def.drop('index', axis=1, inplace=True)
df_def.head()

,full_name,age,position,Current Club,minutes_played_overall,goals_overall,assists_overall,clean_sheets_overall,conceded_overall,goals_involved_per_90_overall,assists_per_90_overall,goals_per_90_overall,yellow_cards_overall,red_cards_overall,min_per_conceded_overall,min_per_card_overall,rank_in_league_top_defenders
0,Matteo Darmian,30,Defender,Manchester United,443,0,0,1,7,0.00,0.00,0.00,0,0,63,0,102
1,Victor Nilsson Lindelöf,25,Defender,Manchester United,2602,1,1,6,38,0.07,0.03,0.03,1,0,68,2602,88
2,Luke Shaw,24,Defender,Manchester United,2592,1,4,6,36,0.17,0.14,0.03,11,0,72,236,79
3,Eric Bertrand Bailly,26,Defender,Manchester United,637,0,0,3,12,0.00,0.00,0.00,1,1,53,319,142
4,Chris Smalling,30,Defender,Manchester United,2128,1,0,4,34,0.04,0.00,0.04,1,0,63,2128,109

In [19]:
X = df_def[['age','minutes_played_overall','goals_overall','assists_overall','clean_sheets_overall','conceded_overall','goals_involved_per_90_overall','assists_per_90_overall','goals_per_90_overall','yellow_cards_overall', 'red_cards_overall','min_per_conceded_overall','min_per_card_overall']]
y = df_def['rank_in_league_top_defenders']

In [20]:
reg_def = LinearRegression()
reg_def.fit(X, y)
y_hat = reg_def.predict(X)
print("The accuracy of the model for training data is %.2f percent" %(r2_score(y, y_hat)*100))

The accuracy of the model for training data is 83.09 percent

#### 3. Midfielders:

In [21]:
df_mid = df_mid[['full_name', 'age', 'position', 'Current Club','minutes_played_overall','goals_overall','assists_overall','penalty_goals', 'penalty_misses','clean_sheets_overall','conceded_overall','goals_involved_per_90_overall','assists_per_90_overall','goals_per_90_overall','yellow_cards_overall', 'red_cards_overall','min_per_conceded_overall','min_per_card_overall','rank_in_league_top_midfielders']]
df_mid.head()

,full_name,age,position,Current Club,minutes_played_overall,goals_overall,assists_overall,penalty_goals,penalty_misses,clean_sheets_overall,conceded_overall,goals_involved_per_90_overall,assists_per_90_overall,goals_per_90_overall,yellow_cards_overall,red_cards_overall,min_per_conceded_overall,min_per_card_overall,rank_in_league_top_midfielders
5,Juan Mata,31,Midfielder,Manchester United,1294,3,2,0,0,4,14,0.35,0.14,0.21,3,0,92,431,100
6,Paul Pogba,27,Midfielder,Manchester United,3011,13,9,7,3,7,41,0.66,0.27,0.39,6,0,73,502,30
7,Frederico Rodrigues Santos,27,Midfielder,Manchester United,1045,1,1,0,0,0,19,0.17,0.09,0.09,2,0,55,523,163
8,Andreas Pereira,24,Midfielder,Manchester United,595,1,1,0,0,1,10,0.30,0.15,0.15,5,0,60,119,91
12,Scott McTominay,23,Midfielder,Manchester United,861,2,0,0,0,3,17,0.21,0.00,0.21,1,0,51,861,281

In [22]:
df_mid = df_mid[df_mid.rank_in_league_top_midfielders != -1]
df_mid = df_mid.reset_index()
df_mid.drop('index', axis=1, inplace=True)
df_mid.head()

,full_name,age,position,Current Club,minutes_played_overall,goals_overall,assists_overall,penalty_goals,penalty_misses,clean_sheets_overall,conceded_overall,goals_involved_per_90_overall,assists_per_90_overall,goals_per_90_overall,yellow_cards_overall,red_cards_overall,min_per_conceded_overall,min_per_card_overall,rank_in_league_top_midfielders
0,Juan Mata,31,Midfielder,Manchester United,1294,3,2,0,0,4,14,0.35,0.14,0.21,3,0,92,431,100
1,Paul Pogba,27,Midfielder,Manchester United,3011,13,9,7,3,7,41,0.66,0.27,0.39,6,0,73,502,30
2,Frederico Rodrigues Santos,27,Midfielder,Manchester United,1045,1,1,0,0,0,19,0.17,0.09,0.09,2,0,55,523,163
3,Andreas Pereira,24,Midfielder,Manchester United,595,1,1,0,0,1,10,0.30,0.15,0.15,5,0,60,119,91
4,Scott McTominay,23,Midfielder,Manchester United,861,2,0,0,0,3,17,0.21,0.00,0.21,1,0,51,861,281

In [23]:
X = df_mid[['age','minutes_played_overall','goals_overall','assists_overall','penalty_goals', 'penalty_misses','clean_sheets_overall','conceded_overall','goals_involved_per_90_overall','assists_per_90_overall','goals_per_90_overall','yellow_cards_overall', 'red_cards_overall','min_per_conceded_overall','min_per_card_overall']]
y = df_mid['rank_in_league_top_midfielders']

In [24]:
reg_mid = LinearRegression()
reg_mid.fit(X, y)
y_hat = reg_mid.predict(X)
print("The accuracy of the model for training data is %.2f percent" %(r2_score(y, y_hat)*100))

The accuracy of the model for training data is 81.61 percent

#### 4. Forwards:

In [25]:
df_for = df_for[['full_name', 'age', 'position', 'Current Club','minutes_played_overall','goals_overall','assists_overall','penalty_goals', 'penalty_misses','clean_sheets_overall','conceded_overall','goals_involved_per_90_overall','assists_per_90_overall','goals_per_90_overall','yellow_cards_overall', 'red_cards_overall','min_per_conceded_overall','min_per_card_overall','rank_in_league_top_attackers']]
df_for.head()

,full_name,age,position,Current Club,minutes_played_overall,goals_overall,assists_overall,penalty_goals,penalty_misses,clean_sheets_overall,conceded_overall,goals_involved_per_90_overall,assists_per_90_overall,goals_per_90_overall,yellow_cards_overall,red_cards_overall,min_per_conceded_overall,min_per_card_overall,rank_in_league_top_attackers
9,Alexis Sanchez,31,Forward,Manchester United,877,1,3,0,0,6,8,0.41,0.31,0.10,3,0,110,292,157
10,Marcus Rashford,22,Forward,Manchester United,2362,10,6,0,0,6,34,0.61,0.23,0.38,4,1,69,472,40
11,Romelu Lukaku,26,Forward,Manchester United,2130,12,0,0,0,7,36,0.51,0.00,0.51,4,0,59,533,16
14,Anthony Martial,24,Forward,Manchester United,1623,10,2,1,0,5,25,0.67,0.11,0.55,2,0,65,812,12
28,Kelechi Iheanacho,23,Forward,Leicester City,926,1,3,0,0,6,11,0.39,0.29,0.10,2,0,84,463,156

In [26]:
df_for = df_for[df_for.rank_in_league_top_attackers != -1]
df_for = df_for.reset_index()
df_for.drop('index', axis=1, inplace=True)
df_for.head()

,full_name,age,position,Current Club,minutes_played_overall,goals_overall,assists_overall,penalty_goals,penalty_misses,clean_sheets_overall,conceded_overall,goals_involved_per_90_overall,assists_per_90_overall,goals_per_90_overall,yellow_cards_overall,red_cards_overall,min_per_conceded_overall,min_per_card_overall,rank_in_league_top_attackers
0,Alexis Sanchez,31,Forward,Manchester United,877,1,3,0,0,6,8,0.41,0.31,0.10,3,0,110,292,157
1,Marcus Rashford,22,Forward,Manchester United,2362,10,6,0,0,6,34,0.61,0.23,0.38,4,1,69,472,40
2,Romelu Lukaku,26,Forward,Manchester United,2130,12,0,0,0,7,36,0.51,0.00,0.51,4,0,59,533,16
3,Anthony Martial,24,Forward,Manchester United,1623,10,2,1,0,5,25,0.67,0.11,0.55,2,0,65,812,12
4,Kelechi Iheanacho,23,Forward,Leicester City,926,1,3,0,0,6,11,0.39,0.29,0.10,2,0,84,463,156

In [27]:
X = df_for[['age','minutes_played_overall','goals_overall','assists_overall','penalty_goals', 'penalty_misses','clean_sheets_overall','conceded_overall','goals_involved_per_90_overall','assists_per_90_overall','goals_per_90_overall','yellow_cards_overall', 'red_cards_overall','min_per_conceded_overall','min_per_card_overall']]
y = df_for['rank_in_league_top_attackers']

In [28]:
reg_for = LinearRegression()
reg_for.fit(X, y)
y_hat = reg_for.predict(X)
print("The accuracy of the model for training data is %.2f percent" %(r2_score(y, y_hat)*100))

The accuracy of the model for training data is 80.41 percent

### Predicting goalkeeper ranks for 2019-20 season based on their statistics

In [53]:
dft = pd.read_csv('plstats20.csv')
dft_goal = dft[dft['Pos'] == 'GK']
dft_goal = dft_goal[dft_goal['MP'] > 10]
dft_goal.head()

,Player,Nation,Pos,Squad,Age,Born,MP,Starts,Min,Gls,...,PK,PKatt,CrdY,CrdR,Gls.1,Ast.1,Clean_Sheets,Conceeded,Min_conceed,Min_card
4,Adrián,es ESP,GK,Liverpool,32,1987,11,9,875,0,...,0,0,1,0,0.0,0.00,2.0,10.0,NaN,NaN
11,Alisson,br BRA,GK,Liverpool,26,1992,27,27,2363,0,...,0,0,0,1,0.0,0.04,13.0,19.0,NaN,NaN
23,Kepa Arrizabalaga,es ESP,GK,Chelsea,24,1994,32,32,2880,0,...,0,0,0,0,0.0,0.00,8.0,42.0,NaN,NaN
120,Martin Dúbravka,sk SVK,GK,Newcastle Utd,30,1989,36,36,3240,0,...,0,0,0,0,0.0,0.00,10.0,55.0,NaN,NaN
125,Ederson,br BRA,GK,Manchester City,25,1993,33,33,2891,0,...,0,0,3,1,0.0,0.00,14.0,28.0,NaN,NaN

In [54]:
dft_goal.columns

Index(['Player', 'Nation', 'Pos', 'Squad', 'Age', 'Born', 'MP', 'Starts',
       'Min', 'Gls', 'Ast', 'PK', 'PKatt', 'CrdY', 'CrdR', 'Gls.1', 'Ast.1',
       'Clean_Sheets', 'Conceeded', 'Min_conceed', 'Min_card'],
      dtype='object')

### Attributes required as inputs to the model:
1. age
2. minutes_played_overall
3. clean_sheets_overall
4. conceded_overall
5. yellow_cards_overall
6. red_cards_overall
7. min_per_conceded_overall
8. min_per_card_overall

In [55]:
dft_goal = dft_goal[['Player','Age','Min','Clean_Sheets', 'Conceeded','CrdY','CrdR']]
dft_goal = dft_goal.reset_index()
dft_goal.drop('index', axis=1, inplace=True)
dft_goal.head()

              Player  Age   Min  Clean_Sheets  Conceeded  CrdY  CrdR
0             Adrián   32   875           2.0       10.0     1     0
1            Alisson   26  2363          13.0       19.0     0     1
2  Kepa Arrizabalaga   24  2880           8.0       42.0     0     0
3    Martin Dúbravka   30  3240          10.0       55.0     0     0
4            Ederson   25  2891          14.0       28.0     3     1

In [56]:
dft_goal['min_per_conceded_overall'] = dft_goal['Min']/dft_goal['Conceeded']
dft_goal.head()

,Player,Age,Min,Clean_Sheets,Conceeded,CrdY,CrdR,min_per_conceded_overall
0,Adrián,32,875,2.0,10.0,1,0,87.500000
1,Alisson,26,2363,13.0,19.0,0,1,124.368421
2,Kepa Arrizabalaga,24,2880,8.0,42.0,0,0,68.571429
3,Martin Dúbravka,30,3240,10.0,55.0,0,0,58.909091
4,Ederson,25,2891,14.0,28.0,3,1,103.250000

In [57]:
dft_goal['min_per_card_overall'] = dft_goal['Min']/(dft_goal['CrdY']+dft_goal['CrdR'])
dft_goal.head()

,Player,Age,Min,Clean_Sheets,Conceeded,CrdY,CrdR,min_per_conceded_overall,min_per_card_overall
0,Adrián,32,875,2.0,10.0,1,0,87.500000,875.00
1,Alisson,26,2363,13.0,19.0,0,1,124.368421,2363.00
2,Kepa Arrizabalaga,24,2880,8.0,42.0,0,0,68.571429,inf
3,Martin Dúbravka,30,3240,10.0,55.0,0,0,58.909091,inf
4,Ederson,25,2891,14.0,28.0,3,1,103.250000,722.75

In [58]:
dft_goal.replace(dft_goal.iloc[2,8], value=0, inplace=True)
dft_goal.head()

,Player,Age,Min,Clean_Sheets,Conceeded,CrdY,CrdR,min_per_conceded_overall,min_per_card_overall
0,Adrián,32,875,2.0,10.0,1,0,87.500000,875.00
1,Alisson,26,2363,13.0,19.0,0,1,124.368421,2363.00
2,Kepa Arrizabalaga,24,2880,8.0,42.0,0,0,68.571429,0.00
3,Martin Dúbravka,30,3240,10.0,55.0,0,0,58.909091,0.00
4,Ederson,25,2891,14.0,28.0,3,1,103.250000,722.75

In [59]:
X_test = dft_goal[['Age','Min','Clean_Sheets', 'Conceeded','CrdY','CrdR','min_per_conceded_overall','min_per_card_overall']]
rankdf = pd.DataFrame({'Rank':reg_goal.predict(X_test)})

In [62]:
finaldf = pd.concat([dft_goal, rankdf], axis =1, join='inner')

In [63]:
finaldf.head()

,Player,Age,Min,Clean_Sheets,Conceeded,CrdY,CrdR,min_per_conceded_overall,min_per_card_overall,Rank
0,Adrián,32,875,2.0,10.0,1,0,87.500000,875.00,14.325212
1,Alisson,26,2363,13.0,19.0,0,1,124.368421,2363.00,8.414316
2,Kepa Arrizabalaga,24,2880,8.0,42.0,0,0,68.571429,0.00,15.429909
3,Martin Dúbravka,30,3240,10.0,55.0,0,0,58.909091,0.00,21.518339
4,Ederson,25,2891,14.0,28.0,3,1,103.250000,722.75,3.841823

In [75]:
finaldf = finaldf.sort_values('Rank')
showdf = finaldf['Player']
showdf = pd.DataFrame(showdf)
showdf = showdf.reset_index()
showdf.drop('index', axis=1, inplace=True)
showdf.set_index(np.arange(1,len(finaldf)+1),inplace=True)
showdf.index.rename('Rank', inplace=True)
showdf

                 Player
Rank
1        Dean Henderson
2               Ederson
3          David de Gea
4     Kasper Schmeichel
5          Rui Patrício
6               Alisson
7        Vicente Guaita
8           Hugo Lloris
9            Bernd Leno
10               Adrián
11        Alex McCarthy
12    Kepa Arrizabalaga
13      Paulo Gazzaniga
14            Nick Pope
15     Łukasz Fabiański
16      Jordan Pickford
17          Mathew Ryan
18           Ben Foster
19      Martin Dúbravka
20           Tom Heaton
21             Tim Krul
22       Aaron Ramsdale